* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: none;
  transition: 0.15s;
  list-style: none;
  user-select: none;
  color: inherit;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  position: relative;
}

h1, h3 {
  font-family: 'Playfair Display';
  font-weight: bold;
}

h1 {
  margin: 0 0 32px;
  font-size: 48px;
  line-height: 64px;
}

h3 {
  margin: 0 0 28px;
  font-size: 24px;
  line-height: 32px;
}

img {
  width: 100%;
}

p span {
  font-weight: 700;
}

i.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  height: 27px;
  width: 27px;
}

i.icon::after {
  font-family: 'Material Icons';
  content: '\e8b5';
  color: #4F4F4F;
  font-size: 27px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0 215px;
}

#l-intro-section, #l-recipe-section {
  padding: 0 235px;
  position: relative;
}

input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

input:checked + .checkbox--style::after {
  opacity: 1;
}

.checkbox--style {
  position: relative;
  display: flex;
  width: 1em;
  height: 1em;
}

.checkbox--style::before {
  content: "";
  display: flex;
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border-radius: 4px;
  border: 1px solid #828282;
}

.checkbox--style::after {
  font-family: 'Material Icons';
  content: "\e876";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  font-size: 1em;
  background: #F2994A;
  color: #FFFFFFFF;
  border: 1px solid #828282;
  opacity: 0;
  border-radius: 4px;
  transition: 0.4s ease;
}

.checkbox--style:checked::after {
  opacity: 1;
}

.w-3-units-wrapper--column p {
  width: 590px;
  padding: 0 0 0 25px;
  font-family: 'Montserrat',sans-serif;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: relative;
}

.w-3-units-wrapper--column i {
  position: absolute;
  cursor: grab;
  left: 0;
}

.w-3-units-wrapper--column img {
  padding: 45px 0 0;
}

.w-recipe-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row-reverse;
}

.w-recipe-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 55px 0 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

.w-recipe-info-card div {
  display: flex;
  gap: 14px;
  padding: 0 40px 0;
}

.w-recipe-info-card div:first-child strong, .w-recipe-info-card div:first-child i {
  color: #F2994A;
}

.w-recipe-info-card i.cook:nth-child(1)::after {
  content: '\e561';
  color: #F2994A;
}

.w-recipe-info-card p {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.w-recipe-info-card p span {
  color: #BDBDBD;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.w-recipe-info-card p strong {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.w-2-units-wrapper--column {
  display: flex;
  flex-direction: column;
}

.w-recipe-instructions-wrapper {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.recipe-ingredients-title {
  display: block;
  padding: 0 0 30px;
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.w-recipe-ingredients-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 0 35px;
}

.recipe-ingredients label {
  display: flex;
  gap: 15px;
  cursor: pointer;
}

.recipe-ingredients p {
  width: 554px;
  font-size: 16px;
  line-height: 25px;
}

.recipe-instructions {
  display: flex;
  gap: 15px;
}

.recipe-instructions div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 6px;
  color: #FFFFFFFF;
  background: #F2994A;
}

.recipe-instructions p {
  width: 528px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 150%;
}

.w-source p {
  display: flex;
  color: #BDBDBD;
  padding: 55px 0 0;
  font-style: italic;
  font-size: 16px;
  line-height: 150%;
}

@media (max-width: 1280px) {
  #l-intro-section, #l-recipe-section {
    padding: 0 150px;
  }
  .w-recipe-info-card {
    padding: 30px 0;
    gap: 20px;
  }
  .w-recipe-info-card div {
    padding: 0 30px;
  }
  .w-recipe-wrapper p {
    max-width: 400px;
  }
}

@media (max-width: 1000px) {
  main {
    padding: 50px 0 230px;
    gap: 35px;
  }
  h1 {
    margin: 0 0 12.5px;
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    margin: 0 0 12.5px;
  }
  #l-intro-section, #l-recipe-section {
    padding: 0 100px;
  }
  .w-recipe-wrapper {
    flex-direction: column;
  }
  .w-recipe-info-card {
    padding: 0 0 30px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: none;
  }
  .w-recipe-info-card div {
    padding: 0;
    gap: 5px;
  }
  .w-recipe-info-card p {
    gap: 0;
  }
  .w-3-units-wrapper--column {
    font-size: 12px;
    line-height: 15px;
  }
  .recipe-instructions {
    gap: 15px;
  }
  .recipe-instructions div {
    height: 36px;
    width: 36px;
  }
  .recipe-ingredients-title {
    padding: 0 0 24px;
  }
}

@media (max-width: 450px) {
  main {
    padding: 30px 0 230px;
    gap: 25px;
  }
  h1 {
    margin: 0 0 12.5px;
    font-size: 24px;
    line-height: 32px;
  }
  h3 {
    margin: 0 0 12.5px;
  }
  #l-intro-section, #l-recipe-section {
    padding: 0 12.5px;
  }
  .w-recipe-info-card {
    padding: 0 0 30px;
    gap: 20px;
  }
  .w-recipe-info-card div {
    padding: 0;
    gap: 5px;
  }
  .w-recipe-info-card p {
    gap: 0;
  }
  .recipe-ingredients p, .w-3-units-wrapper--column p {
    max-width: 300px;
  }
  .recipe-instructions {
    gap: 15px;
  }
  .recipe-instructions p {
    max-width: 300px;
  }
  .recipe-ingredients-title {
    padding: 0 0 24px;
  }
  .w-source p {
    flex-direction: column;
    padding: 25px 0 0;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */